<a href="https://colab.research.google.com/github/bipinthecoder/machine-learning-basics/blob/main/loading_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loading a toy dataset fromn scikit-learn**

In [1]:
from sklearn import datasets

We can load a number of toy datasets drom sklearn like digits dataset, Boston hosuing prices dataset, iris flower dataset

- load_digits()

- load_boston()

- load_iris()

In [7]:
digits = datasets.load_digits()

#Creating features meatrix
features = digits.data

features

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [8]:
#Create target vector
target = digits.target
target

array([0, 1, 2, ..., 8, 9, 8])

In [9]:
#Viewing first observation in full
features[0]

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])